body {
    font-family: "San Francisco", Helvetica, sans-serif;
    background-color: white;
}
#navbar {
    background-color: white;
    color: black;
}
button {
    border: none;
    background-color: white;
    color: #0080ff;
}
#instructions, #map, #directions {
    border-radius: 10px;
    border: 1px solid;
    background-color: white;
}
#gotIt {
    color: white;
    border-radius: 5px;
}
