/* Main Styles */

body {
    font-size: 18pt;
}

/* Nav Bar Styles */

#navbar {
    width: 100%;
    padding: 15px 5px;
    font-size: 20pt;
    text-align: center;
    position: fixed; /* to top of screen*/
    top: 0px;
    left: 0px;
    z-index: 10; /* scrolling happens beneath nav-bar*/
}

#park{
    float: left;
}

#retrieve {
    float: right;
}

button {
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: 14pt;
}

#instructions {
    position: relative;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: 17pt;
}